body {
	background-image:url('../img/back.png');
	background-color: #4c4c4c;
}
.container {
	opacity: 0.7;
	color: #ffffff;
}
.labels {
	text-align: center;
}
#title {
	margin-left: 15px;
	padding-left: 4px;
	padding-right: 4px;
	border: 1px solid rgb(163, 153, 153);
}
#condicion {
	padding-top: 15px;
}
#temperatura {
	font-size: 80px;
}
i {
	color: #93c8fb;
}